body {
  width: 75%;
  margin: 0 auto;
  background-color: #fec7d7;
}

main {
  text-align: center;

  background-color: #fff;
  border-radius: 50px;
}

div {
  margin: 0 10px;
}

header {
  position: absolute;
  margin: 10px;
}

@media (max-width: 604px) {
  body {
    width: 100%;
    margin: 0px 0px;
  }

  section img {
    margin: 0px;
    width: 100%;
    height: 70vw !important;
  }
}

section {
  display: flex;
}

section img {
  max-width: 100%;
  height: 60vh;
  margin: 0 auto;
}

#div1 {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

#male {
  align-self: center;
  width: 3em;
  height: 3em;
}

#favorite {
  align-self: center;
  width: 4em;
  height: 4em;
}

#div2 {
  display: flex;
  margin-top: 5px;
}

#div2 div {
  display: flex;
}

#d2-div1 {
  flex: 0 0 60%;
}

#div2 div img {
  margin-right: 15px;
  width: 3em;
  height: 3em;
}

#div3 {
  display: flex;
  justify-content: start;
}

#div3 img {
  align-self: center;
  margin-right: 15px;
}

#dv3-p {
  border: solid;
  padding-right: 35px;
}

#div4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#div4 h3 {
  flex: 0 0 100%;
}

#div4 img {
  width: 25%;
}

#div5 {
  margin-top: 5%;
  text-align: justify;
}

#div6 {
  margin-top: 3%;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 11% 45% 39%;
  letter-spacing: 1px;
  line-height: 3px;
  align-items: center;
}

#img1 {
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
}

#contactar {
  width: 30vw;
  justify-self: end;
}
